<form action="/auth/login" method="POST">
  <div class="form-group">
    <label for="authEmail">Email</label>
    <input id="authEmail" class="form-control" type="email" name="email">
  </div>

  <div class="form-group">
    <label for="authPassword">Password</label>
    <input id="authPassword" class="form-control" type="password" name="password">
  </div>

  <input class="btn btn-primary" type="submit">
</form>
<h1>File Upload</h1>
<form enctype="multipart/form-data" action="/" method="POST">
  <input type="file" name="myFile">
  <input type="submit">
</form>
<%if(typeof url == 'string' && url){%>
    <img style="max-width: 100%" src="<%= url %>">
<%} else{%>
    <p>You need to Upload</p>
<%}%>
